{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h2>О нас</h2>
    <p>Наш главный принцип - счастье в мелочах!</p>
    <ul>
        <li>Составим компанию в играх</li>
        <li>Выслушаем твои проблемы или сложности в жизни</li>
        <li>Поможем организовать день рождение или любой другой праздник</li>
        <li>Познакомим с единомышленниками</li>
    </ul>

    <ul>
        {% for team in team_list %}
            <li>{{ team.name }} - {{ team.role }}</li>
        {% endfor %}
    </ul>
{% endblock %}